body{
  /* background-color: lightblue; */
  margin: 0;
  padding: 0;
  font-family: "Noto Sans TC", sans-serif;
}

.container{
    width: 100%;
    /* background-color: antiquewhite; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.main{
    width: 60%;
    margin: 5px;
    /* background-color: lightcoral; */
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    align-items: center;
}

.box{
    width: 48%;
    margin: 8px;
    /* background-color: lightgreen; */
}

.box img{
    width: 100%;
    object-fit: cover;
    border-radius: 8px;
}

.box h1{
  margin: 0;
  padding: 2px;
  font-weight: 700;
  font-size: 28px;
  line-height: 33.6px;
}

.box p{
  margin: 2px 0 10px 0;
  padding: 2px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #919191;
}

.box a{
  padding: 4px 12px;
  border-radius: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #000;
  text-decoration: none;
  background-color: #f1f1f1;
}